
@{
    ViewBag.Title = "Sản phẩm";
    Layout = "~/Views/Shared/Web/_LayoutHome.cshtml";
}

@RenderPage("~/Views/Shared/Web/Partial/_headerpage.cshtml")

<!-- ================ category section start ================= -->
<section class="section-margin--small mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5">
                <div class="sidebar-categories">
                    <div class="head">Browse Categories</div>
                    <ul class="main-categories">
                        <li class="common-filter">
                            <form action="#">
                                <ul>
                                    <li class="filter-list">
                                        <input class="pixel-radio" type="radio" id="men" name="brand">
                                        <label for="men">Men<span> (3600)</span></label>
                                    </li>
                                </ul>
                            </form>
                        </li>
                    </ul>
                </div>
                <div class="sidebar-filter">
                    <div class="top-filter-head">Product Filters</div>
                    <div class="common-filter">
                        <div class="head">Brands</div>
                        <form action="#">
                            <ul>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="apple" name="brand"><label for="apple">Apple<span>(29)</span></label></li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="asus" name="brand"><label for="asus">Asus<span>(29)</span></label></li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="gionee" name="brand"><label for="gionee">Gionee<span>(19)</span></label></li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="micromax" name="brand"><label for="micromax">Micromax<span>(19)</span></label></li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="samsung" name="brand"><label for="samsung">Samsung<span>(19)</span></label></li>
                            </ul>
                        </form>
                    </div>
                    <div class="common-filter">
                        <div class="head">Color</div>
                        <form action="#">
                            <ul>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="black" name="color"><label for="black">Black<span>(29)</span></label></li>
                                <li class="filter-list">
                                    <input class="pixel-radio" type="radio" id="balckleather" name="color"><label for="balckleather">
                                        Black
                                        Leather<span>(29)</span>
                                    </label>
                                </li>
                                <li class="filter-list">
                                    <input class="pixel-radio" type="radio" id="blackred" name="color"><label for="blackred">
                                        Black
                                        with red<span>(19)</span>
                                    </label>
                                </li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="gold" name="color"><label for="gold">Gold<span>(19)</span></label></li>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="spacegrey" name="color"><label for="spacegrey">Spacegrey<span>(19)</span></label></li>
                            </ul>
                        </form>
                    </div>
                    <div class="common-filter">
                        <div class="head">Price</div>
                        <div class="price-range-area">
                            <div id="price-range"></div>
                            <div class="value-wrapper d-flex">
                                <div class="price">Price:</div>
                                <span>$</span>
                                <div id="lower-value"></div>
                                <div class="to">to</div>
                                <span>$</span>
                                <div id="upper-value"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7">
                <!-- Start Filter Bar -->
                <div class="filter-bar d-flex flex-wrap align-items-center">
                    <div class="sorting">
                        <select>
                            <option value="1">Default sorting</option>
                            <option value="1">Default sorting</option>
                            <option value="1">Default sorting</option>
                        </select>
                    </div>
                    <div class="sorting mr-auto">
                        <select>
                            <option value="1">Show 12</option>
                            <option value="1">Show 12</option>
                            <option value="1">Show 12</option>
                        </select>
                    </div>
                    <div>
                        <div class="input-group filter-bar-search">
                            <input type="text" placeholder="Search">
                            <div class="input-group-append">
                                <button type="button"><i class="ti-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Filter Bar -->
                <!-- Start Best Seller -->
                <section class="lattest-product-area pb-40 category-list">
                    <div class="row">

                        @*Danh sách sản phẩm theo mã loại sản phẩm*@
                        @foreach(var i in ViewBag.sptheoloai)
                        {
                        <div class="col-md-6 col-lg-4">
                            <div class="card text-center card-product">
                                <div class="card-product__img">
                                    <img class="card-img" src="@i.Hinh" alt="">
                                    <ul class="card-product__imgOverlay">
                                        <li><button><i class="ti-search"></i></button></li>
                                        <li><button><i class="ti-shopping-cart"></i></button></li>
                                        <li><button><i class="ti-heart"></i></button></li>
                                    </ul>
                                </div>
                                <div class="card-body">
                                    <p>@i.LoaiSP.Ten</p>
                                    <h4 class="card-product__title"><a href="@Url.Action("Index", "Products", new {id = i.ID})">@i.Ten</a></h4>                                    
                                    @if(@i.GiamGia > 0)
                                    {
                                        <p class="card-product__price">
                                            <span class="del">@string.Format("{0:0,0}", @i.DonGia)</span> -
                                            @string.Format("{0:0,0 VND}", @i.DonGia - (@i.DonGia * @i.GiamGia / 100))
                                        </p>
                                    }
                                    else
                                    {
                                        <p class="card-product__price">
                                            @string.Format("{0:0,0 VND}", @i.DonGia)
                                        </p>
                                    }                                  
                                </div>
                            </div>
                        </div>
                        }                        
                    </div>
                </section>
                <!-- End Best Seller -->
            </div>
        </div>
    </div>
</section>
<!-- ================ category section end ================= -->
<!-- ================ top product area start ================= -->
<section class="related-product-area">
    <div class="container">
        <div class="section-intro pb-60px">
            <p>Danh sách sản phẩm mới nhất</p>
            <h2>MỚI <span class="section-intro__style">NHẤT</span></h2>
        </div>
        <div class="owl-carousel owl-theme" id="bestSellerCarousel">

           @* Danh sách sản phẩm mới nhất *@
           @RenderPage("~/Views/Shared/Web/Partial/_productnew.cshtml")

        </div>
    </div>
</section>
<!-- ================ top product area end ================= -->
@RenderPage("~/Views/Shared/Web/Partial/_subscribe.cshtml")




